networks:
  libremarket:
    name: libremarket
    driver: bridge

services:

  infracciones-1:
    image: elixir:1.15.7-otp-26-alpine
    container_name: infracciones-1
    hostname: infracciones-1
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Infracciones.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: infracciones-1
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname infracciones-1 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  infracciones-2:
    image: elixir:1.15.7-otp-26-alpine
    container_name: infracciones-2
    hostname: infracciones-2
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Infracciones.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: infracciones-2
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname infracciones-2 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  infracciones-3:
    image: elixir:1.15.7-otp-26-alpine
    container_name: infracciones-3
    hostname: infracciones-3
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Infracciones.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: infracciones-3
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname infracciones-3 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy


  compras-primario:
    image: elixir:1.15.7-otp-26-alpine
    container_name: compras-primario
    hostname: compras-primario
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Compras.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      ES_PRIMARIO: "1"
      NOMBRE: compras-primario
    command: elixir --sname compras-primario --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  compras-replica-1:
    image: elixir:1.15.7-otp-26-alpine
    container_name: compras-replica-1
    hostname: compras-replica-1
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Compras.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      ES_PRIMARIO: "0"
      NOMBRE: compras-replica-1
    command: elixir --sname compras-replica-1 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  compras-replica-2:
    image: elixir:1.15.7-otp-26-alpine
    container_name: compras-replica-2
    hostname: compras-replica-2
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Compras.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      ES_PRIMARIO: "0"
      NOMBRE: compras-replica-2
    command: elixir --sname compras-replica-2 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"


  envios-primario:
    image: elixir:1.15.7-otp-26-alpine
    container_name: envios-primario
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Envios.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      ES_PRIMARIO: "1"
      NOMBRE: envios-primario
    command: elixir --sname envios-primario --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  envios-replica-1:
    image: elixir:1.15.7-otp-26-alpine
    container_name: envios-replica-1
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Envios.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      ES_PRIMARIO: "0"
      NOMBRE: envios-replica-1
    command: elixir --sname envios-replica-1 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  envios-replica-2:
    image: elixir:1.15.7-otp-26-alpine
    container_name: envios-replica-2
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Envios.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      ES_PRIMARIO: "0"
      NOMBRE: envios-replica-2
    command: elixir --sname envios-replica-2 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  ventas-primario:
    image: elixir:1.15.7-otp-26-alpine
    container_name: ventas-primario
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Ventas.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      ES_PRIMARIO: "1"
      NOMBRE: ventas-primario
    command: elixir --sname ventas-primario --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  ventas-replica-1:
    image: elixir:1.15.7-otp-26-alpine
    container_name: ventas-replica-1
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Ventas.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      ES_PRIMARIO: "0"
      NOMBRE: ventas-replica-1
    command: elixir --sname ventas-replica-1 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  ventas-replica-2:
    image: elixir:1.15.7-otp-26-alpine
    container_name: ventas-replica-2
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Ventas.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      ES_PRIMARIO: "0"
      NOMBRE: ventas-replica-2
    command: elixir --sname ventas-replica-2 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  pagos-primario:
    image: elixir:1.15.7-otp-26-alpine
    container_name: pagos-primario
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Pagos.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: pagos-primario
      ES_PRIMARIO: "1"
    command: elixir --sname pagos-primario --cookie ${SECRET} -S mix run --no-halt --no-compile # para habilitar -it# para habilitar -ithabilitar -it    # para habilitar -it    # para habilitar -it
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  pagos-replica-1:
    image: elixir:1.15.7-otp-26-alpine
    container_name: pagos-replica-1
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Pagos.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: pagos-replica-1
      ES_PRIMARIO: "0"
    command: elixir --sname pagos-replica-1 --cookie ${SECRET} -S mix run --no-halt --no-compile # para habilitar -it# para habilitar -ithabilitar -it    # para habilitar -it    # para habilitar -it
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  pagos-replica-2:
    image: elixir:1.15.7-otp-26-alpine
    container_name: pagos-replica-2
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Pagos.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: pagos-replica-2
      ES_PRIMARIO: "0"
    command: elixir --sname pagos-replica-2 --cookie ${SECRET} -S mix run --no-halt --no-compile # para habilitar -it# para habilitar -ithabilitar -it    # para habilitar -it    # para habilitar -it
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  rest:
    image: elixir:1.15.7-otp-26-alpine
    container_name: rest
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Rest.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
    command: elixir --sname rest --cookie ${SECRET} -S mix run --no-halt --no-compile # para habilitar -it# para habilitar -ithabilitar -it
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  zookeeper:
    image: zookeeper:3.9
    container_name: zookeeper
    restart: unless-stopped
    networks:
      - libremarket
    environment:
      ZOO_STANDALONE_ENABLED: "true"
      ZOO_4LW_COMMANDS_WHITELIST: "srvr,ruok,stat"
    ports:
      - "2181:2181"
    healthcheck:
      test: ["CMD", "zkServer.sh", "status"]
      interval: 5s
      timeout: 5s
      retries: 10
