networks:
  libremarket:
    name: libremarket
    driver: bridge

services:

  infracciones-1:
    image: elixir:1.15.7-otp-26-alpine
    container_name: infracciones-1
    hostname: infracciones-1
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Infracciones.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: infracciones-1
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname infracciones-1 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  infracciones-2:
    image: elixir:1.15.7-otp-26-alpine
    container_name: infracciones-2
    hostname: infracciones-2
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Infracciones.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: infracciones-2
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname infracciones-2 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  infracciones-3:
    image: elixir:1.15.7-otp-26-alpine
    container_name: infracciones-3
    hostname: infracciones-3
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Infracciones.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: infracciones-3
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname infracciones-3 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy


  compras-1:
    image: elixir:1.15.7-otp-26-alpine
    container_name: compras-1
    hostname: compras-1
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Compras.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Compras.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: compras-1
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname compras-1 --cookie ${SECRET} -S mix run --no-halt --no-compile # para habilitar -it# para habilitar -ithabilitar -it    # para habilitar -it    # para habilitar -it
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  compras-2:
    image: elixir:1.15.7-otp-26-alpine
    container_name: compras-2
    hostname: compras-2
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Compras.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Compras.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: compras-2
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname compras-2 --cookie ${SECRET} -S mix run --no-halt --no-compile # para habilitar -it# para habilitar -ithabilitar -it    # para habilitar -it    # para habilitar -it
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  compras-3:
    image: elixir:1.15.7-otp-26-alpine
    container_name: compras-3
    hostname: compras-3
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Compras.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Compras.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: compras-3
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname compras-3 --cookie ${SECRET} -S mix run --no-halt --no-compile # para habilitar -it# para habilitar -ithabilitar -it    # para habilitar -it    # para habilitar -it
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy


  envios-1:
    image: elixir:1.15.7-otp-26-alpine
    container_name: envios-1
    hostname: envios-1
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Envios.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Envios.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: envios-1
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname envios-1 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  envios-2:
    image: elixir:1.15.7-otp-26-alpine
    container_name: envios-2
    hostname: envios-2
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Envios.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Envios.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: envios-2
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname envios-2 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  envios-3:
    image: elixir:1.15.7-otp-26-alpine
    container_name: envios-3
    hostname: envios-3
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Envios.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Envios.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: envios-3
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname envios-3 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  ventas-1:
    image: elixir:1.15.7-otp-26-alpine
    container_name: ventas-1
    hostname: ventas-1
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Ventas.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Ventas.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: ventas-1
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname ventas-1 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  ventas-2:
    image: elixir:1.15.7-otp-26-alpine
    container_name: ventas-2
    hostname: ventas-2
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Ventas.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Ventas.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: ventas-2
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname ventas-2 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  ventas-3:
    image: elixir:1.15.7-otp-26-alpine
    container_name: ventas-3
    hostname: ventas-3
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Ventas.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Ventas.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: ventas-3
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname ventas-3 --cookie ${SECRET} -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  pagos-1:
    image: elixir:1.15.7-otp-26-alpine
    container_name: pagos-1
    hostname: pagos-1
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Pagos.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Pagos.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: pagos-1
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname pagos-1 --cookie ${SECRET} -S mix run --no-halt --no-compile # para habilitar -it# para habilitar -ithabilitar -it    # para habilitar -it    # para habilitar -it
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  pagos-2:
    image: elixir:1.15.7-otp-26-alpine
    container_name: pagos-2
    hostname: pagos-2
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Pagos.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Pagos.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: pagos-2
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname pagos-2 --cookie ${SECRET} -S mix run --no-halt --no-compile # para habilitar -it# para habilitar -ithabilitar -it    # para habilitar -it    # para habilitar -it
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  pagos-3:
    image: elixir:1.15.7-otp-26-alpine
    container_name: pagos-3
    hostname: pagos-3
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Pagos.Server
      LEADER_TO_RUN:  Elixir.Libremarket.Pagos.Leader
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
      NOMBRE: pagos-3
      ZK_HOST: "zookeeper:2181"
    command: elixir --sname pagos-3 --cookie ${SECRET} -S mix run --no-halt --no-compile # para habilitar -it# para habilitar -ithabilitar -it    # para habilitar -it    # para habilitar -it
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  rest:
    image: elixir:1.15.7-otp-26-alpine
    container_name: rest
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - libremarket
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Rest.Server
      AMQP_URL: amqps://oiawxlbc:v4Z6nPfJiy01FZw3QmObwAPPz90bs8t-@jackal.rmq.cloudamqp.com/oiawxlbc
      INSECURE_AMQPS: "1"
    command: elixir --sname rest --cookie ${SECRET} -S mix run --no-halt --no-compile # para habilitar -it# para habilitar -ithabilitar -it
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  zookeeper:
    image: zookeeper:3.9
    container_name: zookeeper
    restart: unless-stopped
    networks:
      - libremarket
    environment:
      ZOO_STANDALONE_ENABLED: "true"
      ZOO_4LW_COMMANDS_WHITELIST: "srvr,ruok,stat"
    ports:
      - "2181:2181"
    healthcheck:
      test: ["CMD", "zkServer.sh", "status"]
      interval: 5s
      timeout: 5s
      retries: 10
